# Introduction

In [105]:
import bifrost_jupyter_extension
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris

In [106]:
cols = ["foo","y", "bar", "baz", "something", "else"]
dist = np.random.uniform(0,1, size=(1000,len(cols)))
scatter_df = pd.DataFrame(dist, columns=cols)

bar_df = pd.DataFrame([
    ["John", "Developer", 1],
    ["Jay", "Developer", 2],
    ["Angela", "Designer", 1],
    ["Brian", "Leader", 20]
], columns=["Name", "Job", "Years Worked For Jupyter"])

iris_ds = load_iris()
iris_df = pd.DataFrame(iris_ds["data"], columns=iris_ds["feature_names"])
tips_df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')
iris_df['class'] = ['iris_setosa'] * 50 + ['iris_versicolour'] * 50 + ['iris_virginica'] * 50

Index(['foo', 'y', 'bar', 'baz', 'something', 'else'], dtype='object')

Index(['Name', 'Job', 'Years Worked For Jupyter'], dtype='object')

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'class'],
      dtype='object')

In [107]:
res = tips_df.bifrost.plot()

BifrostWidget(column_types={'total_bill': 'quantitative', 'tip': 'quantitative', 'sex': 'nominal', 'smoker': '…

In [86]:
iris_df = iris_df[(iris_df['class'].isin(["iris_versicolour","iris_virginica"]))&(iris_df['petal length (cm)'] >= 2.8355468749999995) & (iris_df['petal length (cm)'] <= 6.055546875)]

In [88]:
tips_df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
t = {"x": 1, "y": 2}
y = {**t, "y": 3}
y