# Introduction

In [1]:
from jupyter_bifrost import Chart
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris

In [2]:
cols = ["foo","y", "bar", "baz", "something", "else"]
dist = np.random.uniform(0,1, size=(1000,len(cols)))
scatter_df = pd.DataFrame(dist, columns=cols)

bar_df = pd.DataFrame([
    ["John", "Developer", 1],
    ["Jay", "Developer", 2],
    ["Angela", "Designer", 1],
    ["Brian", "Leader", 20]
], columns=["Name", "Job", "Years Worked For Jupyter"])

iris_ds = load_iris()
iris_df = pd.DataFrame(iris_ds["data"], columns=iris_ds["feature_names"])
titanic_df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv')
iris_df['class'] = ['iris_setosa'] * 50 + ['iris_versicolour'] * 50 + ['iris_virginica'] * 50

Index(['foo', 'y', 'bar', 'baz', 'something', 'else'], dtype='object')

Index(['Name', 'Job', 'Years Worked For Jupyter'], dtype='object')

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'class'],
      dtype='object')

In [3]:
chart = Chart('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv')

In [5]:
chart.plot()

{'name': 'graph_data_config', 'old': {'sampleSize': 100, 'datasetLength': 0}, 'new': {'sampleSize': 100, 'datasetLength': 891}, 'owner': BifrostWidget(column_name_map={'survived': 'survived', 'pclass': 'pclass', 'sex': 'sex', 'age': 'age', 'sibsp': 'sibsp', 'parch': 'parch', 'fare': 'fare', 'embarked': 'embarked', 'class': 'class', 'who': 'who', 'adult_male': 'adult_male', 'deck': 'deck', 'embark_town': 'embark_town', 'alive': 'alive', 'alone': 'alone'}, column_types={'survived': 'quantitative', 'pclass': 'quantitative', 'sex': 'nominal', 'age': 'quantitative', 'sibsp': 'quantitative', 'parch': 'quantitative', 'fare': 'quantitative', 'embarked': 'nominal', 'class': 'nominal', 'who': 'nominal', 'adult_male': 'nominal', 'deck': 'nominal', 'embark_town': 'nominal', 'alive': 'nominal', 'alone': 'nominal'}, df_columns=['adult_male', 'age', 'alive', 'alone', 'class', 'deck', 'embark_town', 'embarked', 'fare', 'parch', 'pclass', 'sex', 'sibsp', 'survived', 'who'], graph_data=[{'survived': 0, 'pclass': 2, 'sex': 'male', 'age': 36.0, 'sibsp': 1, 'parch': 2, 'fare': 27.75, 'embarked': 'S', 'class': 'Second', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, {'survived': 1, 'pclass': 1, 'sex': 'female', 'age': None, 'sibsp': 1, 'parch': 0, 'fare': 89.1042, 'embarked': 'C', 'class': 'First', 'who': 'woman', 'adult_male': False, 'deck': 'C', 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': False}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': None, 'sibsp': 0, 'parch': 0, 'fare': 7.725, 'embarked': 'Q', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Queenstown', 'alive': 'no', 'alone': True}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': None, 'sibsp': 0, 'parch': 0, 'fare': 7.75, 'embarked': 'Q', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Queenstown', 'alive': 'no', 'alone': True}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 30.0, 'sibsp': 0, 'parch': 0, 'fare': 7.2292, 'embarked': 'C', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': True}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 17.0, 'sibsp': 1, 'parch': 0, 'fare': 7.0542, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 42.0, 'sibsp': 0, 'parch': 0, 'fare': 7.65, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': 'F', 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 1, 'pclass': 3, 'sex': 'female', 'age': 4.0, 'sibsp': 0, 'parch': 1, 'fare': 13.4167, 'embarked': 'C', 'class': 'Third', 'who': 'child', 'adult_male': False, 'deck': None, 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': False}, {'survived': 1, 'pclass': 1, 'sex': 'female', 'age': 19.0, 'sibsp': 0, 'parch': 2, 'fare': 26.2833, 'embarked': 'S', 'class': 'First', 'who': 'woman', 'adult_male': False, 'deck': 'D', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': False}, {'survived': 0, 'pclass': 1, 'sex': 'male', 'age': 50.0, 'sibsp': 1, 'parch': 0, 'fare': 106.425, 'embarked': 'C', 'class': 'First', 'who': 'man', 'adult_male': True, 'deck': 'C', 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': False}, {'survived': 0, 'pclass': 2, 'sex': 'male', 'age': 30.0, 'sibsp': 0, 'parch': 0, 'fare': 10.5, 'embarked': 'S', 'class': 'Second', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 17.0, 'sibsp': 1, 'parch': 1, 'fare': 7.2292, 'embarked': 'C', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': False}, {'survived': 0, 'pclass': 3, 'sex': 'female', 'age': None, 'sibsp': 3, 'parch': 1, 'fare': 25.4667, 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': False, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, {'survived': 0, 'pclass': 1, 'sex': 'male', 'age': None, 'sibsp': 0, 'parch': 0, 'fare': 26.55, 'embarked': 'S', 'class': 'First', 'who': 'man', 'adult_male': True, 'deck': 'C', 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 1, 'pclass': 2, 'sex': 'female', 'age': 8.0, 'sibsp': 0, 'parch': 2, 'fare': 26.25, 'embarked': 'S', 'class': 'Second', 'who': 'child', 'adult_male': False, 'deck': None, 'embark_town': 'Southampton', 'alive': 'yes', 'alone': False}, {'survived': 1, 'pclass': 2, 'sex': 'female', 'age': 34.0, 'sibsp': 1, 'parch': 1, 'fare': 32.5, 'embarked': 'S', 'class': 'Second', 'who': 'woman', 'adult_male': False, 'deck': None, 'embark_town': 'Southampton', 'alive': 'yes', 'alone': False}, {'survived': 0, 'pclass': 2, 'sex': 'male', 'age': 43.0, 'sibsp': 1, 'parch': 1, 'fare': 26.25, 'embarked': 'S', 'class': 'Second', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 41.0, 'sibsp': 0, 'parch': 0, 'fare': 7.125, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 0, 'pclass': 2, 'sex': 'male', 'age': 21.0, 'sibsp': 0, 'parch': 0, 'fare': 73.5, 'embarked': 'S', 'class': 'Second', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 0, 'pclass': 2, 'sex': 'male', 'age': 25.0, 'sibsp': 0, 'parch': 0, 'fare': 13.0, 'embarked': 'S', 'class': 'Second', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 1, 'pclass': 3, 'sex': 'male', 'age': 9.0, 'sibsp': 0, 'parch': 2, 'fare': 20.525, 'embarked': 'S', 'class': 'Third', 'who': 'child', 'adult_male': False, 'deck': None, 'embark_town': 'Southampton', 'alive': 'yes', 'alone': False}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 26.0, 'sibsp': 0, 'parch': 0, 'fare': 7.8958, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 1, 'pclass': 3, 'sex': 'male', 'age': 20.0, 'sibsp': 0, 'parch': 0, 'fare': 7.2292, 'embarked': 'C', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': True}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 42.0, 'sibsp': 0, 'parch': 0, 'fare': 7.55, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 29.0, 'sibsp': 0, 'parch': 0, 'fare': 9.4833, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 1, 'pclass': 3, 'sex': 'male', 'age': None, 'sibsp': 0, 'parch': 0, 'fare': 7.775, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'yes', 'alone': True}, {'survived': 1, 'pclass': 1, 'sex': 'male', 'age': 36.0, 'sibsp': 0, 'parch': 0, 'fare': 26.2875, 'embarked': 'S', 'class': 'First', 'who': 'man', 'adult_male': True, 'deck': 'E', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': True}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 18.0, 'sibsp': 1, 'parch': 1, 'fare': 20.2125, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': None, 'sibsp': 0, 'parch': 0, 'fare': 6.95, 'embarked': 'Q', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Queenstown', 'alive': 'no', 'alone': True}, {'survived': 0, 'pclass': 1, 'sex': 'male', 'age': None, 'sibsp': 0, 'parch': 0, 'fare': 31.0, 'embarked': 'S', 'class': 'First', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 23.5, 'sibsp': 0, 'parch': 0, 'fare': 7.2292, 'embarked': 'C', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': True}, {'survived': 1, 'pclass': 1, 'sex': 'male', 'age': 51.0, 'sibsp': 0, 'parch': 0, 'fare': 26.55, 'embarked': 'S', 'class': 'First', 'who': 'man', 'adult_male': True, 'deck': 'E', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': True}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 25.0, 'sibsp': 0, 'parch': 0, 'fare': 7.65, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': 'F', 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 30.5, 'sibsp': 0, 'parch': 0, 'fare': 8.05, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 1, 'pclass': 1, 'sex': 'female', 'age': 39.0, 'sibsp': 1, 'parch': 1, 'fare': 110.8833, 'embarked': 'C', 'class': 'First', 'who': 'woman', 'adult_male': False, 'deck': 'C', 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': False}, {'survived': 1, 'pclass': 3, 'sex': 'female', 'age': 22.0, 'sibsp': 0, 'parch': 0, 'fare': 7.75, 'embarked': 'Q', 'class': 'Third', 'who': 'woman', 'adult_male': False, 'deck': None, 'embark_town': 'Queenstown', 'alive': 'yes', 'alone': True}, {'survived': 1, 'pclass': 3, 'sex': 'male', 'age': 21.0, 'sibsp': 0, 'parch': 0, 'fare': 7.7958, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'yes', 'alone': True}, {'survived': 0, 'pclass': 2, 'sex': 'male', 'age': 32.0, 'sibsp': 2, 'parch': 0, 'fare': 73.5, 'embarked': 'S', 'class': 'Second', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, {'survived': 1, 'pclass': 1, 'sex': 'male', 'age': 37.0, 'sibsp': 1, 'parch': 1, 'fare': 52.5542, 'embarked': 'S', 'class': 'First', 'who': 'man', 'adult_male': True, 'deck': 'D', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': False}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 18.0, 'sibsp': 1, 'parch': 1, 'fare': 7.8542, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, {'survived': 0, 'pclass': 1, 'sex': 'male', 'age': None, 'sibsp': 0, 'parch': 0, 'fare': 25.925, 'embarked': 'S', 'class': 'First', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 1, 'pclass': 3, 'sex': 'male', 'age': 29.0, 'sibsp': 0, 'parch': 0, 'fare': 9.5, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'yes', 'alone': True}, {'survived': 1, 'pclass': 3, 'sex': 'female', 'age': 22.0, 'sibsp': 0, 'parch': 0, 'fare': 7.775, 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': False, 'deck': None, 'embark_town': 'Southampton', 'alive': 'yes', 'alone': True}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 30.0, 'sibsp': 1, 'parch': 0, 'fare': 16.1, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, {'survived': 0, 'pclass': 3, 'sex': 'female', 'age': 30.0, 'sibsp': 1, 'parch': 1, 'fare': 24.15, 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': False, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 19.0, 'sibsp': 0, 'parch': 0, 'fare': 7.8958, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 1, 'pclass': 3, 'sex': 'male', 'age': 18.0, 'sibsp': 0, 'parch': 0, 'fare': 8.05, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'yes', 'alone': True}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 33.0, 'sibsp': 1, 'parch': 1, 'fare': 20.525, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, {'survived': 0, 'pclass': 3, 'sex': 'female', 'age': None, 'sibsp': 1, 'parch': 2, 'fare': 23.45, 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': False, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 32.0, 'sibsp': 0, 'parch': 0, 'fare': 7.925, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 1, 'pclass': 1, 'sex': 'female', 'age': 48.0, 'sibsp': 0, 'parch': 0, 'fare': 25.9292, 'embarked': 'S', 'class': 'First', 'who': 'woman', 'adult_male': False, 'deck': 'D', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': True}, {'survived': 1, 'pclass': 1, 'sex': 'female', 'age': 35.0, 'sibsp': 0, 'parch': 0, 'fare': 135.6333, 'embarked': 'S', 'class': 'First', 'who': 'woman', 'adult_male': False, 'deck': 'C', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': True}, {'survived': 0, 'pclass': 2, 'sex': 'male', 'age': 23.0, 'sibsp': 0, 'parch': 0, 'fare': 15.0458, 'embarked': 'C', 'class': 'Second', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': True}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 48.0, 'sibsp': 0, 'parch': 0, 'fare': 7.8542, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 34.0, 'sibsp': 0, 'parch': 0, 'fare': 8.05, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 1, 'pclass': 1, 'sex': 'female', 'age': 35.0, 'sibsp': 1, 'parch': 0, 'fare': 90.0, 'embarked': 'S', 'class': 'First', 'who': 'woman', 'adult_male': False, 'deck': 'C', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': False}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': None, 'sibsp': 0, 'parch': 0, 'fare': 7.8958, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 15.0, 'sibsp': 1, 'parch': 1, 'fare': 7.2292, 'embarked': 'C', 'class': 'Third', 'who': 'child', 'adult_male': False, 'deck': None, 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': False}, {'survived': 0, 'pclass': 2, 'sex': 'male', 'age': 36.0, 'sibsp': 0, 'parch': 0, 'fare': 12.875, 'embarked': 'C', 'class': 'Second', 'who': 'man', 'adult_male': True, 'deck': 'D', 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': True}, {'survived': 0, 'pclass': 2, 'sex': 'male', 'age': 39.0, 'sibsp': 0, 'parch': 0, 'fare': 13.0, 'embarked': 'S', 'class': 'Second', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 65.0, 'sibsp': 0, 'parch': 0, 'fare': 7.75, 'embarked': 'Q', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Queenstown', 'alive': 'no', 'alone': True}, {'survived': 1, 'pclass': 1, 'sex': 'female', 'age': 45.0, 'sibsp': 1, 'parch': 1, 'fare': 164.8667, 'embarked': 'S', 'class': 'First', 'who': 'woman', 'adult_male': False, 'deck': None, 'embark_town': 'Southampton', 'alive': 'yes', 'alone': False}, {'survived': 0, 'pclass': 1, 'sex': 'male', 'age': 65.0, 'sibsp': 0, 'parch': 1, 'fare': 61.9792, 'embarked': 'C', 'class': 'First', 'who': 'man', 'adult_male': True, 'deck': 'B', 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': False}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 17.0, 'sibsp': 0, 'parch': 0, 'fare': 7.125, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 22.0, 'sibsp': 0, 'parch': 0, 'fare': 7.8958, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 0, 'pclass': 1, 'sex': 'male', 'age': 39.0, 'sibsp': 0, 'parch': 0, 'fare': 0.0, 'embarked': 'S', 'class': 'First', 'who': 'man', 'adult_male': True, 'deck': 'A', 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 21.0, 'sibsp': 0, 'parch': 0, 'fare': 7.8542, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 0, 'pclass': 2, 'sex': 'male', 'age': 29.0, 'sibsp': 1, 'parch': 0, 'fare': 21.0, 'embarked': 'S', 'class': 'Second', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, {'survived': 0, 'pclass': 1, 'sex': 'male', 'age': 64.0, 'sibsp': 1, 'parch': 4, 'fare': 263.0, 'embarked': 'S', 'class': 'First', 'who': 'man', 'adult_male': True, 'deck': 'C', 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, {'survived': 0, 'pclass': 2, 'sex': 'male', 'age': 44.0, 'sibsp': 1, 'parch': 0, 'fare': 26.0, 'embarked': 'S', 'class': 'Second', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 32.0, 'sibsp': 1, 'parch': 0, 'fare': 15.85, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 19.0, 'sibsp': 0, 'parch': 0, 'fare': 7.8958, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 0, 'pclass': 2, 'sex': 'male', 'age': 31.0, 'sibsp': 1, 'parch': 1, 'fare': 26.25, 'embarked': 'S', 'class': 'Second', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': None, 'sibsp': 0, 'parch': 0, 'fare': 56.4958, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 0, 'pclass': 1, 'sex': 'male', 'age': 61.0, 'sibsp': 0, 'parch': 0, 'fare': 33.5, 'embarked': 'S', 'class': 'First', 'who': 'man', 'adult_male': True, 'deck': 'B', 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 0, 'pclass': 2, 'sex': 'male', 'age': 48.0, 'sibsp': 0, 'parch': 0, 'fare': 13.0, 'embarked': 'S', 'class': 'Second', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, {'survived': 1, 'pclass': 1, 'sex': 'male', 'age': None, 'sibsp': 0, 'parch': 0, 'fare': 26.55, 'embarked': 'S', 'class': 'First', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'yes', 'alone': True}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': None, 'sibsp': 1, 'parch': 0, 'fare': 16.1, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': None, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, {'survived': 0, 'pclass': 3, 'sex': 'male', 'age': None, 'sibsp': 0, 'parch': 0, 'fare': 7.8292, 'embarked': 'Q', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck'

BifrostWidget(column_name_map={'survived': 'survived', 'pclass': 'pclass', 'sex': 'sex', 'age': 'age', 'sibsp'…

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True